@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin:  0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: var(--white);
    list-style: none;
    text-align: center;
    
}


:root{
    --white:white;
    --black:black;
    --orange:rgb(255, 85, 28);
    --box-height:27rem;
    --box-width:20rem;
    --main-font:'Roboto', sans-serif;
}

body{
    background-color: var(--black);
    font-family: var(--main-font);
}
.container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container::before{
    content:'';
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background: linear-gradient(#08ffe6, #fcd200);
    transform: translate(-490px, -700px);


}

.container::after{
    content:'';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient( #fcd200,#fc002e);
    transform: translate(490px, -340px);
}
.main-box{
    z-index: 10; 
    backdrop-filter: blur(8px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;

}

.box{ 


    max-height: var(--box-height);
    min-height: var(--box-height);
    min-width: var(--box-width);
    max-width: var(--box-width);
    padding: 0,20px;
    background: rgba(0, 0, 0, 0.589);
    /* background-color: var(--white); */
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.7);
    overflow: hidden;

}

/* card inside css start from here */

.main-img img{
    /* object-fit: fill; */
    width: 100%;
    height: 200px;
    border-radius: 20px;


}
.thumbnail-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll !important;
    gap: 10px;
    margin-top: 5px;
    margin-left: 5px;

}
::-webkit-scrollbar {
    display: none;
}
.thumbnail-img img{
    /* overflow: scroll !important; */
    width: 70px;
    height: 40px;
    border-radius: 5px;

}
.title{
    margin: 20px 0 20px;


}
.description{
    margin: 20px 0 20px;
}
h1{
    font-size: 25px;
}
h2{
    color: var(--orange);
}
i{
    color: rgb(255, 255, 255);
    width: 10px;
    display: flex;
    margin-left: 10px;
}
.hidden{
    display: none;
}